<html>
<head>
    <title>Rapids API Hub</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <div class="col-md-8">
            <h1>Welcome to Rapids API hub</h1>
        </div>
        <br>
        <p class="lead">Already a member! Please <a href="/login">sign in.</a></p>
        <p class="lead">Not a member? Please <a href="/signup">register</a> here.</p>
    </div>

    

</div>
</body>
</html>