
<!doctype html>
<html>
<head>
    <title>Rapids API Hub</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script type="file/javascript" src="file:///C:/Users/RA358745/Downloads/SwaggerProject/app/list.js"></script>
        <script>function getstore(){
        var temp=document.getElementsByName("email")[0].value;
        var user=getuser(temp);
        sessionStorage.owner = user.owner;
        sessionStorage.role  = user.role;
        sessionStorage.emailId = user.email;
  }
  </script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-md-8">
  <h1>Welcome to Rapids API hub</h1>
</div>
<div class="col-md-4">
    <h2>Login</h2>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    
    <form action="/login" method="post" onsubmit="return getstore()">
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Login</button>
    </form>

    <hr>
    <div class= "row">
    <p style="padding-left: 15px;">Not a member please?<a href="/signup"> Signup</a></p>
    <p style="padding-left: 15px;"><a href="/forgot">Forgot your password?</a>
    or go to <a href="/">home</a></p>
    </div>
</div>
</div>
</div>
</body>
</html>

